*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans',sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background:rgb(22, 17, 54);  /* fallback for old browsers */

    height:80px;
    display:flex;
    justify-content: space-between;
    

    width:100%;
}

.navbar_menu{
    align-items:center;
    display:flex;
    justify-content: space-between;
    height: 85px;
    width:100%;
    max-width: 1300px;
    margin: 0 0;
   
}

#Logo{
    background: #2193b0;  /* cod luat de pe UIGRADIENT*/
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    


    -webkit-background-clip:text;  /* cod luat de pe stack overflow pentru colorare doar text*/
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;

}
.navbar_items{
    display:flex;
    list-style:none;
    height:100%;
    margin-left:auto;
   
}
.navbar_links{
    font-size:20;
    height:80px;
    width:150px;
    color:#FFF;
    display:flex;
   
    align-items: center;
    justify-content: center;
    text-decoration:none;
    height:100%;
}
.navbar_links:hover{
    background-color: aqua;
    transition: all 0.3s ease;
	-webkit-background-clip:text;/* cod luat de pe stack overflow pentru colorare doar text si nu toata casuta din display:flex */
-moz-background-clip: text;
-webkit-text-fill-color:transparent;
-moz-text-fill-color:transparent;


}
.navbar_links:active{
    background-color: aqua;
}

#Logo{
    max-height: 130%;
    display:flex;
    align-items: center;
    padding-left:3.5%;
    max-width: 200%;
    text-align: center;
    font-size: 250%;
    transition: all 500ms;
}

#Logo:hover{
   

    font-size:275%;

-webkit-background-clip:text; /* cod luat de pe stack overflow pentru colorare doar text*/
-moz-background-clip: text;
-webkit-text-fill-color:transparent;
-moz-text-fill-color:transparent;
}


